*{
    padding: 0;
    margin: 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    box-sizing: border-box;
    
}
html,
body{
    width: 100%;
    height: 100%;
    /* background-color: black; */
}
input{
    display: block;
}

#main{
    width: 100%;
    height: 100%;
    padding: 20px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    background-color: #222;
    color:aqua;
}
/* input{
    display: none;
} */
#btn{
    padding: 12px 22px;
    
    border-radius: 12px;
    background-color: rgb(41,143,114);
    color: white;
    font-weight: normal;
}
#btn:hover{
    background-color:#441515;
}
/* h1{
    color:#555;
    font-size: 10rem;
    font-weight: 300;
    user-select: none;
    letter-spacing: -1rem;
} */